@page
@model AndenSemesterProjekt.Pages.Routes.AddAttendentToRouteModel
@{
    ViewData["title"] = "JoinRoute";
}
<h1>Join ruten</h1>
<h3>Er du sikker på du vil joine denne rute</h3>
<div>
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Route.RouteId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Route.RouteId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Route.DriverId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Route.DriverId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Route.NrOfSeats)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Route.NrOfSeats)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Route.StartAdress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Route.StartAdress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Route.EndAdress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Route.EndAdress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Route.Eta)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Route.Eta)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Route.PickupPoints)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Route.PickupPoints)
            </dd>
        </dl>
        <input type="submit" valute="join" class="btn btn-danger" />
    </form>
    <div>
        <a asp-page="Routes">Tilbage til Router</a>
    </div>
</div>
