@page
@model AndenSemesterProjekt.Pages.Users.DeleteUsersModel
@{
    ViewData["title"] = "DeleteUser";
}

<h1>Slet Bruger</h1>
<h3>Er du sikker på du vil slette denne profil</h3>
<div>
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.UserId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UserId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Username)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Password)
            </dd>
        </dl>
        <input type="submit" valute="Delete" class="btn btn-dager" />
    </form>
    <div>
        <a asp-page="Index">Tilbage til Forsiden</a>
    </div>
</div>
