@page
@model AndenSemesterProjekt.Pages.SelectRoute.AttendantBookingsModel
@{
    ViewData["title"] = "Sign up";
}
<h1>Sign up</h1>
<h3>Are you sure you want to sign up for this route?</h3>
<div>
    <form method="post">
        <!--<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.DriverId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.DriverId)
        </dd>-->
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Route.AttendantId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Route.AttendantId)
            </dd>*@
        <!--<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.NrOfSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.NrOfSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.StartAdress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.StartAdress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.EndAdress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.EndAdress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.Eta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.Eta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route.PickupPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route.PickupPoints)
        </dd>-->
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Route.PickupPoints)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Route.PickupPoints)
            </dd>*@
        <!--</dl>-->
        <div class="form-group">
            <label hidden="hidden" asp-for="@Model.Route.RouteId" class="control-label"></label>
            <input hidden="hidden" asp-for="@Model.Route.RouteId" class="form-control" />
            <span asp-validation-for="@Model.Route.RouteId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label hidden="hidden" asp-for="@Model.Route.DriverId" class="control-label"></label>
            <input hidden="hidden" asp-for="@Model.Route.DriverId" class="form-control" />
            <span asp-validation-for="@Model.Route.DriverId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label hidden="hidden" asp-for="@Model.Route.NrOfSeats" class="control-label"></label>
            <input hidden="hidden" asp-for="@Model.Route.NrOfSeats" class="form-control" />
            <span asp-validation-for="@Model.Route.NrOfSeats" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label hidden="hidden" asp-for="@Model.Route.StartAdress" class="control-label"></label>
            <input hidden="hidden" asp-for="@Model.Route.StartAdress" class="form-control" />
            <span asp-validation-for="@Model.Route.StartAdress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label hidden="hidden" asp-for="@Model.Route.Eta" class="control-label"></label>
            <input hidden="hidden" asp-for="@Model.Route.Eta" class="form-control" />
            <span asp-validation-for="@Model.Route.Eta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label hidden="hidden" asp-for="@Model.Route.EndAdress" class="control-label"></label>
            <input hidden="hidden" asp-for="@Model.Route.EndAdress" class="form-control" />
            <span asp-validation-for="@Model.Route.EndAdress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Route.AttendantId" class="control-label"></label>
            <input asp-for="@Model.Route.AttendantId" class="form-control" />
            <span asp-validation-for="@Model.Route.AttendantId" class="text-danger"></span>
        </div>
        <input type="submit" value="Sign up" class="btn btn-danger" />
    </form>
    <div>
        <a asp-page="Index">Back to select routes</a>
    </div>
</div>
