@page
@model AndenSemesterProjekt.Pages.SelectRoute.IndexModel
@{
    ViewData["Title"] = "Select Route";
}

<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="container">
    <div class="row">
        @foreach (var r in Model.Routes)
            {
                <div class="col-sm">
                    <div class="card" style="width: 30rem;">
                        <img class="card-img-top" src="~/Image/@r.ImageName" alt="Card image cap" />
                        <div class="card-body">
                            <h5 class="card-title">Route number: @r.RouteId</h5>
                            <p class="card-text">Available seats: @r.NrOfSeats</p>
                            <p class="card-text">ETA: @r.Eta</p>
                            <a asp-page="AttendantBookings" asp-route-id="@r.RouteId" class="btn btn-primary">Sign up</a>
                            <a asp-page="Informations" asp-route-id="@r.RouteId" class="btn btn-primary">More information</a>
                        </div>
                    </div>
                    <br/>
                </div>
            }
    </div>
</div>